h2 {margin-bottom: 0.75em;}

table {border-collapse: collapse;}

th {text-align: left;}

.disallowable {text-decoration: line-through;}

table#tblexpenses thead th {border-bottom: solid 1px Black;}
table#tblexpenses th, table#tblexpenses td {padding-left: 3px; padding-right: 3px;}
table#tblexpenses tr.odd     {background-color: White;}
table#tblexpenses tr.even    {background-color: #E0E4F0;}
table#tblexpenses tr.negodd  {background-color: #FFDCDC;}
table#tblexpenses tr.negeven {background-color: #FFCACA;}
table#tblexpenses .cost {text-align: right;}

th.note img, td.note img {width: 16px; height: 16px;}

img.joblink {width: 16px; height: 16px; margin-bottom: -3px;}

table#key{
  margin-top: 16px;
  margin-left: auto; margin-right: auto;
  page-break-inside: avoid;
  font-size: small;
}

table#key h3 {font-size: medium;}
table#key td.desc {padding-left: 3px;}

table#tblexpenses .cc, table#tblexpenses .date, table#key td.num {text-align: center;}